.productImg{
    height: 300px;
    width: 230px;
    background-color: lightgray;
}

.productDescriptionCon{
    margin-left: 30px;
}

.productMainContainer{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin: 50px;
}
.cartButton{
    background-color: black;
    color: white;
    border: 0px;
    height: 25px;
}