.loginMainCon{
    border: 1px solid gray;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.loginOuterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputFeild{
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
    width: 250px;
}

.loginButton{
    background-color: black;
    border: 0px;
    color: white;
    width: 100px;
    height: 25px;
}