.cardMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1450px;
    height: 600px;
    background-image: url("https://cdn.dribbble.com/users/356637/screenshots/5724605/course-cards_4x.png");
    background-size: cover;
    margin: 20px;
}

@media screen and (max-width: 768px){
    .cardMainContainer{
        height: 100px;
        
    }
}